<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.community_education.Dao.TextPictureMapper" >
  <resultMap id="BaseResultMap" type="com.example.community_education.Model.TextPicture" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="out_id" property="outId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="types" property="types" jdbcType="INTEGER" />
    <result column="deletes" property="deletes" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, out_id, name, url, types, deletes
  </sql>

  <insert id="insert" parameterType="map">
    insert into text_picture ( out_id, name,
      url, types
      )
    values
    ( #{outId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
      #{url,jdbcType=VARCHAR}, #{types,jdbcType=INTEGER}
      )
  </insert>

  <select id="select" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from text_picture
    where out_id = #{outId,jdbcType=INTEGER} and types = #{types,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from text_picture
    where id = #{id,jdbcType=INTEGER}
  </delete>
</mapper>